In [0]:
from pyspark.sql import SparkSession

In [0]:
from pyspark.sql import Row
data = [Row(id=1 , name='sandeep',dept= "IT" , salary= 50000 , age = 33)
        ,Row(id=2 , name='moahn',dept= "HR" , salary= 60000 , age = 40),Row(id=3 , name='Rocky',dept= "HR" , salary= 40000 , age =25)  
]

In [0]:
df=spark.createDataFrame(data)
df.show()

In [0]:
df.select("name","dept", "salary").show()

In [0]:
df.filter(df.salary >50000).show()

In [0]:
from pyspark.sql.functions import col
df1=df.withColumn("upadated-salary",col("salary")*2)
df1.show()